.navbar {
    width: 100%;
    padding: 20px 20px;
    background-color: rgb(9, 93, 65);

    .option {
        margin-right: 20px;
        text-decoration: none;
        font-size: 16px;
        color: aliceblue;
        font-weight: 700;
    }
}